<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21688218-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-21688218-3');
    </script>

    <%= favicon_link_tag asset_path('hammer.jpg'), :rel => 'icon', :type =>  'image/jpg' %>
    <title>Redflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <% if logged_in?%> 
    <script type='text/javascript'> window.currentUser = <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %> </script> 
    <% end %>
    
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
